[package]
name = "xshuttle"
version = "0.1.0"
edition = "2024"
description = "Command menu in your system tray"
license = "MIT"
repository = "https://github.com/athopen/xshuttle"

[dependencies]
tray-icon = "0.21.2"
muda = "0.17.1"
tao = "0.34.5"
image = { version = "0.25", default-features = false, features = ["png"] }

# SSH config parsing
ssh2-config = "0.6"
which = "8.0.0"

# Config file
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
dirs = "6.0"
open = "5.3.3"

[profile.release]
lto = "fat"
codegen-units = 1
strip = "symbols"
opt-level = "z"
panic = "abort"
