[package]
name = "xshuttle"
version = "0.1.0"
edition = "2024"
description = "Command menu in your system tray"
license = "MIT"
repository = "https://github.com/athopen/xshuttle"

[dependencies]
tray-icon = "0.21.2"
muda = "0.17.1"
tao = "0.34.5"
image = "0.25"

# SSH config parsing
ssh2-config = "0.6"
which = "8.0.0"
